.App {
  text-align: center;
}

.dark-theme {
  --bg-color: rgb(38, 37, 37);
  --font-color: white;
  --change-theme-icon: rgb(91, 88, 88);
  --card-bg-color: rgb(61, 60, 60);
  --card2-bg-color: rgb(61, 60, 60);
  --tag-bg-color: rgb(49, 47, 47);
}

.light-theme {
  --bg-color: white;
  --font-color: black;
  --change-theme-icon: #e5e4e2;
  --card2-bg-color: #e5e4e2;
  --card-bg-color: #bebebe;
  --tag-bg-color: #808080;
}

*{
  box-sizing: border-box;
}
body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: "Poppins", sans-serif;
  margin: 0;
}
